<?xml version="1.0" encoding="UTF-8"?>
<suite name="1495101523126">
	<parameter name="port" value="4723" />
	<parameter name="udid" value="HC44VWM04926" />
	<parameter name="address" value="10.120.3.115" />
	<parameter name="username" value="896409120@qq.com" />
	<parameter name="password" value="123456789" />
	<!-- <parameter name="apk" value="apk/Sioeye2.0_APP_S11A_100-2.0.83.apk" /> -->
	<parameter name="apk" value="/Users/Qiang.Zhang/Desktop/software/apk/Sioeye2.0_APP_S11A_100-2.0.68.apk" />
	<test preserve-order="true" name="HC44VWM04926_4723">
		<!-- <listeners>
			<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
			<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
			<listener class-name="ckt.App.Listeners.TestngListener"></listener>
		</listeners> -->
		<classes>
			<!-- <class name="ckt.android.testcase.account.AccountCase" /> -->
			<class name="ckt.android.testcase.discover.DiscoverCase" />
			<methods>
				<include name="testPlayRecommandVideo" />
			</methods>
		</classes>
	</test>
</suite>
 